body {
    font-family: "Roboto";
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .header-container {
    max-height: 750px;
    padding: 0 150px;
    background-color: #1F2937;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .header-links {
    display: flex;
    position: absolute;
    top: 0;
    right: 150px;
    gap: 15px;
    margin-top: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
  }

  .header-middle {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 100px 0;
    justify-content: space-between;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
  }

  .secondary {
    font-size: 18px;
    color: #E5E7EB;
  }

  #button1 {
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    border: none;
    cursor: pointer;  
  }

  #header-image {
    width: 493px;
    height: 360px;
    right: 150px;
  }

  .information-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .info-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }

  img {
    width: 210px;
    height: 310px;
  }

  .item-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 75px;
    margin-bottom: 96px;
  }

  .item {
    align-items: center;
    max-width: 200px;
  }

  .caption {
    font-size: 18px;
    text-align: center;
  }

  .quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 250px;
    gap: 20px;
  }

  .quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
  }

  .action-container {
    background-color: #3882f6;
    padding: 50px 100px;
    margin: 100px 150px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
  }

  .call-text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
  }

  .action-caption {
    color: #e5e7eb;
    font-size: 16px;
  }

  #button2 {
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    color: #f9faf8;
    border: #f9faf8;
    border-radius: 10px;
    border-style: solid;
    width: 150px;
    height: 40px;
    cursor: pointer;  
  }

  .footer-container {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 30px;
    display: flex;
    justify-content: center;
  }